<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <!--    <script src="javascripts/scriptTable.js"></script>-->

</head>
<body class="container-fluid">
<div class="col-12 col-md-12">
    <%- include('./header'); %>
</div>
<div class="container">
    <div class="table-wrapper" style="margin-top: 0; margin-bottom: 0 ;background-color: #d8ddee">
        <div class="table-title">

            <div class="row">
                <div class="col-sm-8"><h2>Danh sách <b>sản phẩm</b></h2></div>
                <div class="col-sm-4">
                    <a href="/add" type="button" class="btn btn-info add-new" style="padding-top: 6px"><i
                                class="fa fa-plus"></i> Thêm mới</a>
                </div>
            </div>
            <div class="col-sm-12" style="padding: 0 0 0 0 ;">
                <nav class="" style="margin: 15px 0 10px 0">
                    <form class="form-inline" action="/search">
                        <input class="form-control mr-sm-2" type="search" name="nameSearch" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Tên</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Địa chỉ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <%
            for (var i = 0; i < productList.length; i++) { %>
                <tr>
                    <td><%= productList[i].name %></td>
                    <td><%= productList[i].price %></td>
                    <td><%= productList[i].cost %></td>
                    <td><%= productList[i].address %></td>
                    <td>
                        <a class="edit" href="/edit/<%= productList[i].id %>" title="Edit" data-toggle="tooltip"><i
                                    class="material-icons">&#xE254;</i></a>
                        <a class="delete" href="/delete/<%= productList[i].id %>" title="Delete"
                           data-toggle="tooltip"><i
                                    class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            <%
            }
            %>

            </tbody>
        </table>
    </div>
</div>
<div>
    <%- include('./footer'); %>
</div>
</body>

</html>
